#main-header{
  background-color: #0294d8;
  padding: 180px 0 300px 80px;
  height: 100vh;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 23px;
  text-align: center;
}
#box{
  border: 15px solid white;
  min-width: 450px;
  max-width: 800px;
}
#subtitle{
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-top: 20px;
}
h1{
  font-size: 60px;
  font-family: 'Lato', sans-serif;
}
a{
  color: white;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: #52FFB6;
}
